<%- include('../partials/header'); -%>
<a href="/activities/create" class="button-plan">Create New Plan</a>
<ul class="recipes">
  <% posts.forEach(post => { %>
    <li class="recipe">
      <img src="/smoothie.png" alt="smoothie recipe icon">
      <h4><%= post.title%></h4>
      <h5>Time: <%= post.time%></h5>
      <p><%= post.description%></p>
      <h5>Reach out through: <%= post.contact%></h5>
    </li>
  <% }) %>
</ul>

<%- include('../partials/footer'); -%>